<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title> IT Lab Assignment- 2</title>
</head>
<body>

     <hr style="border: 1px solid rgb(99, 236, 7);">
    <div class="center">
        <h1 style="color: rgb(99, 236, 7);"> Welcome to IT Lab Assignment 2</h1>
    </div>
    <hr style="border: 1px solid rgb(99, 236, 7);">

<hr style="border: 1px solid rgb(99, 236, 7);">
<div class="center">
    <h1 style="color: rgb(7, 217, 236);"> Successfully Uploaded <%= variable %>!</h1>
</div>
<hr style="border: 1px solid rgb(99, 236, 7);">

<footer >
    <hr style="border: 1px solid rgb(99, 236, 7);">
    <div class="center">
        <h3 style="color: rgb(99, 236, 7);">Made by: Bikash Sah</h3>
        <h3 style="color: rgb(99, 236, 7);">UG-3, CSE Department,  Jadavpur University</h3>
        <!-- <h3 style="color: rgb(99, 236, 7);"> CSE Department,  Jadavpur University</h3> -->

    </div>
    <hr style="border: 1px solid rgb(99, 236, 7);">
</footer>
</html>